namespace: jiadai-dev

backend:
  name: backend
  replicas: 2
  image: ghcr.io/yayamayajd/guestbook-api@sha256:14d2a2703a9f77d49f7bb94d15e7428e574616dab4714a35f3bc14e1e695fd85
  containerPort: 8080

  dbhost: "postgres"
  dbport: 5432
  dbuser: "guestbook"
  dbname: "guestbook"
  

  svcname: backend
  svcportname: http
  svcport: 8080
  targetPort: 8080
  svctype: ClusterIP


frontend: 
  name: frontend
  replicas: 2
  image: ghcr.io/yayamayajd/guestbook-web@sha256:345d050034913921f8d917b703549d9f262a36947a083ec6157cee512f234399
  containerPort: 8080
  cmname: nginx-conf
  cmPath: /opt/app-root/etc/nginx.d/nginx.conf
  cmsubPath: nginx.conf

  svcname: frontend
  svcportname: web
  svcport: 8080
  targetPort: 8080
  svctype: ClusterIP


redis:
  name: redis
  replicas: 1
  image: 
    repository: quay.io/kurs/redis
    tag: latest
    pullPolicy: IfNotPresent
  containerPort: 6379
  
  svcname: redis
  svcportname: redis
  svcport: 6379
  targetPort: 6379
  svctype: ClusterIP

  pvcname: redispvc
  accessModes: "ReadWriteOnce"
  storagesize: 500Mi
  storageClass: gp3
  storagename: redispvc
  mountPath: /data

  password: REDIS_PASSWORD 


postgres:
  name: postgres
  image: 
    repository: quay.io/fedora/postgresql-16
    tag: latest
    pullPolicy: IfNotPresent
  replicas: 1
  containerPort: 5432
  minReadySeconds: 10
  terminationGracePeriodSeconds: 30
  mountPath: /var/lib/pgsql/data
  storagename: postgres-storage
  accessModes: "ReadWriteOnce"
  storageClassName: "gp3"
  storageSize: 1Gi

  user: guestbook
  database: guestbook


  svcname: postgres
  svcportname: http
  svcport: 5432
  targetPort: 5432




